.containers-container{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.main-container{
    background-color: var(--primary-color);
    width: fit-content;
    min-height: 250px;
    padding: 7px;
    border-radius: 14px;
    position: relative;
}
